WcfService2/WcfServiceClient2/Connected Services/ServiceReference1/studentservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10000/studentservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceContract2" />
  <xs:element name="getStudentByIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllStudentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceContract2" minOccurs="0" name="student" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentByIndexResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceContract2" minOccurs="0" name="result" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>